<section id="about">
    <div class="container">
        <h2>About</h2>
        <div class="about-row">
            <div class="about-row-experience">
                <h4>Proyectos</h4>
                <p class="large">Raspberry Pi - 2016</p>
                <p class="large">Arduino - 2020</p>
                <p class="large">Micro:bit - 2024</p>
            </div>
            <div class="about-row-me">
                <h4>Sobre mi</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum velit itaque, numquam iste, impedit excepturi quae eum maiores vel consequatur saepe.
                    Architecto repellendus hic mollitia earum voluptatibus cum, nobis necessitatibus impedit consequatur in animi possimus,
                    tempora illum blanditiis pariatur assumenda inventore! Consectetur commodi odio minima eius aperiam sit voluptatibus aspernatur iure fugit perferendis.
                    Beatae consequuntur quasi velit accusantium incidunt aut.</p>
            </div>
        </div>
    </div>
</section>
