<header id="mainheader">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            <a href="#mainheader" class="logo"><img src="./assets/images/logo.png" alt="logo"></a>
            <h1 class="author">Julio Gimenez</h1>
        </a>
    
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#mainheader" class="nav-link px-2 link-secondary">Inicio</a></li>
            <li><a href="#projects" class="nav-link px-2 link-dark">Experiencia</a></li>
            <li><a href="#about" class="nav-link px-2 link-dark">Proyectos</a></li>
            <li><a href="#about" class="nav-link px-2 link-dark">Acerca de</a></li>
            <li><a href="#contact" class="nav-link px-2 link-dark">Contacto</a></li>
        </ul>
    
        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-2">Iniciar sesión</button>
            <button type="button" class="btn btn-outline-3">Regístrate</button>
        </div>
        </header>
    </div>
    <div id="showcase">
        <div class="container">
            <a href="#projects" type="button" class="btn btn-outline">Portfolio</a>
        </div>
    </div>
</header>
